<div class="block notice">
  <h3>Endless Scroll</h3>
  <div class="content">
    <p>Pagination is not nearly as cool. Unless your user wants to jump to page 14.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%=link_to "Blog Post", ""%></li>
    <li><%=link_to "Github Repo", "https://github.com/pedromtavares/endless_scroll_example"%></li>
  </ul>
</div>